[id*='invoice-']{ /* Targets all id with 'col-' */
  padding: 0px 30px;
}

.tabletitle > td > p {
    font-size: 16px;
    font-weight: 700;
}

.info{
  display: block;
  float:left;
}

table{
  width: 100%;
  border-collapse: collapse;
}
td{
  padding: 5px 0 5px 15px;
  border: 1px solid #EEE
}

.tabletitle{
  padding: 5px;
  background: #EEE;
}
.service{border: 1px solid #EEE;}

#invoice-top{
  display: flex;
  justify-content:space-between;
}