<style>
    i {
        color: #737373;
    }
</style>
<div id="invoiceholder">

    <div id="headerimage"></div>
    <div id="invoice" class="effect2">
        
    </div><!--End Invoice-->
</div><!-- End Invoice Holder-->